* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: 'poppins';
  background-color: #451870;
}

h1 {
  color: white;
}

h2 {
  font-size: 1rem;
}

.filters {
  display: flex;
  flex-direction: row;
}

.options li {
  list-style: none;

  a {
    color: white;
    text-decoration: none;
  }
}

.stories li {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  list-style: none;
  border-radius: 10px;
  padding: 1em;
  margin: .5em;
  background-color: white;
  max-width: 500px;
  height: 8rem;

  >img {
    height: 3lh; 
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .summary {
    grid-column: 2;
    grid-row: 2;
  }

  .playtime {
    grid-column: 2;
    grid-row: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .lang {
    grid-column: 3;
    grid-row: 1;

    justify-self: flex-end;
    align-self: flex-start;
  }

  .buttons {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 1em;
  }

  .button-image {
    appearance: none;
    border: none;
    background-color: transparent;

    >img {
      height: 2em;
    }

    .button-add {
      transform: rotateZ(45deg);
    }
  }
}