* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 1rem;
  font-family: 'poppins';
  background: var(--background-method);
}

main {
  max-width: 500px;
  margin: auto;
}

h1 {
  color: white;
  margin: 1rem auto;
  width: max-content;
}

h2 {
  font-size: 1rem;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1rem auto;
}

.details-top-level {
  color: white;
  background-color: #8654F3;
  border-radius: 5px;
  margin: .5em 0;
}

.summary-top-level {
  color: white;
  padding: .5em;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.menu-filter {
  background-color: #8654F3;
  padding: .5em 1em;
  border-radius: 5px;
  /* list-style: none; */

  button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
    font-family: 'poppins';
    width: 100%;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  summary {
    font-weight: bold;
  }
}

.options {
  margin: .5em 0;
}

.options li {
  list-style: none;
  margin-left: 1em;
  line-height: 2em;

  a {
    color: white;
    text-decoration: none;
  }
}

.stories {
  margin-top: 1.5em;
}

.stories li {
  display: grid;
  grid-template-columns: 6rem 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  border-radius: 10px;
  padding: .5em;
  margin: .5em 0;
  background-color: white;
  max-width: 500px;
  height: 6rem;

  h2 {
    align-self: flex-end;
  }

  >img {
    height: 100%;
    padding: .25em;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .summary {
    grid-column: 2;
    grid-row: 2;
  }

  .playtime {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    gap: .5em;
  }

  .lang {
    grid-column: 3;
    grid-row: 1;

    justify-self: flex-end;
    align-self: flex-start;
  }

  .buttons {
    grid-column: 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 1em;
  }

  .hidden {
    display: none;
  }

  .button-image {
    appearance: none;
    border: none;
    background-color: transparent;

    >img {
      height: 2em;
    }

    .button-add {
      transform: rotateZ(45deg);
    }
  }
}

/* SEARCHBOX */
.searchbox {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.searchbox label {
	height: 2em;
	display: grid;
  grid-row: 1 / 2;
	grid-column: 1 / 3;
}

.searchbox input {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	
	appearance: none;
  border: none;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: .8em;
	align-self: center;
}

.searchbox span {
	grid-row: 1 / 2;
	grid-column: 1 / 2;

  color: rgba(0, 0, 0, 0.6);
	transition: all .25s;
	margin-left: .5em;
	align-self: center;
}

.searchbox input:focus + span,
.searchbox input:not(:placeholder-shown) + span {
	color: rgba(0, 0, 0, 0);
}

.searchbox button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  appearance: none;
  background-color: transparent;
  border: none;
  padding: .5em;
  border-left: 1px solid rgba(0, 0, 0, 0.6);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
  }

  >img {
    height: 1.5em;
  }
}